body{
    size: width-screen;
     margin:0;
     padding:0;
     background: url(back_page.jpg);
     overflow: auto;
     background-size: height-screen;

     background-repeat:no-repeat;
     background-position: unset;
     font-family: sans-serif;

        
 }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

@media only screen and (min-width: 400px ) {
    body { 
     margin:0;
     padding:0;
     background: url(back_page.jpg);
     overflow: auto;
     background-size:100%;
     background-repeat:no-repeat;
     background-position: unset;
     font-family: sans-serif;   
     background-color: #000;  
    

    }
    div{
        



    }

}
