body{
     margin:0;
     padding:0;
     background: url(back_page.jpg);
     background-size: unset;
     background-position: unset;
     font-family: sans-serif; 

}
.loginbox{
	opacity: 0.8;
	filter: alpha(opacity=10);
	width: 400px;
	height:700px;
	background: 100;
	color: #fff;
	top: -30%;
	left: 20%;
	position: absolute;
	transform: translate(-50%,50%);
	box-sizing: border-box;	
	padding: 50px 30px;
}
.logo{
	width: 50px;
	height: 50px;
	border-radius: 10%;
	position: absolute;
	top:-20px ;
	right: 35px;
	
}
.h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: left;
	font-size: 50px;
}
.loginbox P{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input{ster Here

	width: 100px;
	margin-bottom: 20px: 

}
.loginbox input[type="text"],input[type="text"],input[type="email"],input[type="tel"],input[type="button"]
{
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 30px;
}
